{% extends "base2.html" %}
{%block content%}
<div class="welcome_block">
  <div class="web_name"><span style="font-size: 70px; letter-spacing: 4px">Alice</span><span>β</span><br><span>地外科技，穿越平行宇宙，不用付款的超爽购票平台</span></div>
  <div class="welcome_text glass_effect">
    <div class="welcome_text_container">简陋</div>
    <div class="ver_line"></div>
    <div class="welcome_text_container">易炸</div>
    <div class="ver_line"></div>
    <div class="welcome_text_container">不安全</div>
  </div>
<!--
  <div class="welcome_container">
    <div class="welcome_text1">简陋&nbsp;&nbsp;&nbsp;易炸&nbsp;&nbsp;&nbsp;不安全</div>
    <hr>
    <div class="welcome_text2">不用付款的超爽购票体验(由于技术原因，我们无法控制车票在哪个宇宙)<br>
      来自未来的黑科技，平行宇宙中的你为你支付</div>
  </div>
-->
</div>
<div class="tmp_contain"></div>
{%endblock%}