{% extends "base2.html" %}
{%block content%}
<div style="width: 100%; height: 50%;">
  <div class="web_name" style="top:45%"><span style="font-size: 40px; letter-spacing: 4px">已购车票</span><br><span>这……这个车站是没有电车的</span></div>
</div>
<div style="max-width: 1000px; margin-left: auto; margin-right: auto; margin-bottom: 7px; margin-top: 7px">
<div class="glass_effect2 search_window" id="tag_window">
  <div class="search_mask" style="padding-right: 50px">
    <h3>日期</h3>
    <div class="tag_list" id="date_type">
      <div class="tag" value="1" all>全部</div>
    </div>
    <br>
    <div class="tag_list" style="display: none">
      <div class="tag" value="1" id="inc">升序</div><div class="tag" value="0" id="dec" style="margin-right: 50px">降序</div>
      <div class="sort_key">
        <div class="tag" value="1" id="date_time"></div>
      </div>
    </div>
  </div>
</div>
<div class="glass_effect search_window" id="empty_window" style="max-height: 0px; max-width: 0px; opacity: 0">
  <div class="search_mask" style="padding-right: 50px">
    <center><span style="font-size: 17px;" id="filter_message"> 您还没有购买任何车票</span></center>
  </div>
</div>
</div>

<div class="tmp_container" id="tmp">
</div>

<div class="tmp_container" id="result">
</div>

<div id="display_container">
</div>
{%endblock%}